html,
body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #222222;
    color: #ffffff;
}
.page {
    width: 100%;
    height: 100%;
    display: table;
    position: absolute;
}
.contents {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    padding: 10px;
}

#instructions {
	background: #222222;
}

#content-text {
    font-weight: bold;
    font-size: 5em;
}

canvas {
	position:absolute;
}

img {
	width: 100%;
	height: 100%;
	position: absolute;
}

#number {
	display: table-cell;
    vertical-align: bottom;
    font-size: 120px;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    text-align: center;
}